// Base styles

// Root base styles
html {
	box-sizing: border-box;
	font-size: 1em;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// Smooth scrolling between hashstag links
	scroll-behavior: smooth;
}
// Inherit border-box sizing
*,
*::before,
*::after {
	box-sizing: inherit;
}
// Body base styles
body {
	// Fill entire viewport
	width: 100%;
	width: 100vw;
	min-height: 100vh;
	// Remove default margin
	margin: 0;
}

// Remove default margins
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
fieldset {
	margin: 0;
}

// Remove gap between objects and their containers
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

// Adjust default list styles
ul,
ol,
li {
	display: block;
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

// Remove default link styles
a {
	color: inherit;
	text-decoration: none;
}

// Focus styles
// Reference: https://css-tricks.com/focusing-on-focus-styles/
a,
button {
	&:focus {
		outline: {
			width: 1px;
			style: dashed;
			color: rgba($colorBrand01, .48);
		}
	}
	&:active,
	&:visited {
		outline: 0;
	}
	span::selection {
		color: inherit;
		background: transparent;
	}
}

// Images
img {
	// Broken image text styles
	@extend %fontNormal;
	@extend %fontMicro;
	@extend %lineHeightHeadline;
	// Scale images within containers
	max-width: 100%;
	height: auto;
	// Prevent highlighting
	&::selection {
		background: transparent;
	}
}

// Selected text
// Reference: https://css-tricks.com/almanac/selectors/s/selection/
::selection {
	color: $colorWhite01;
	background: $colorBrand01;
	text-shadow: none;
}