// Section content containers

// Sections
.ap-c-scn {
	@extend %blockRelative;
	// Page header sections
	&--intro {
		@extend %backgroundLargeHeight;
	}
	&--main {
		@extend %backgroundStackedLight;
	}
	// Featured series section
	&--featured {
		@extend %paddingTopDouble;
		@extend %paddingBottomHalf;
		@extend %paddingLeftRight;
	}
	// Selected press section
	&--press {
		@extend %paddingTopBottom;
		background-color: $colorWhite01;
	}
	// Mini bio section
	&--grazyna {
		@extend %paddingAll;
		overflow: hidden;
		background-color: $colorBrand04;
	}
	// Main website footer
	&--footer {
		@extend %paddingTopBottom;
		@extend %paddingLeftRight;
		background-color: $colorWhite03;
	}
	// Lightbox item sections
	// &--gallery {
	// }
	&--series {
		@extend %paddingLeftRight;
	}
	// About content module container
	&--about {
		@extend %paddingLeftRightHalf;
	}
	// CV content module container
	&--cv {
		@extend %paddingLeftRightHalf;
	}
	// Collection sections on the Work page
	&--collection {
		@extend %paddingBottomHalf;
		@extend %paddingLeftRight;
	}
	// Instagram slider section
	&--instagram {
		@extend %backgroundLightAlternate;
	}
	// Next series section
	&--next {
		@extend %paddingTop;
		@extend %paddingBottom;
		@extend %paddingLeftRight;
		@extend %backgroundLightAlternate;
		// background-color: $colorWhite01;
	}
	// Related series section
	&--related {
		@extend %paddingBottom;
		@extend %backgroundLight;
		@extend %paddingLeftRight;
	}
}

// Large title style
%titlePrimary {
	@extend %fontLarge;
	@extend %lineHeightHeadline;
	@extend %lineLeftRight;
	text-align: center;
}
// Section header containers
.ap-c-scn__header {
	@extend %blockRelative;
	@extend %paddingLeftRight;
	// Content wrapper
	&-container {
		@extend %widthWrap;
		position: relative;
		// Page intro section specificity
		.ap-c-scn--intro & {
			overflow: visible;
			text-align: center;
		}
	}
	// Intro header logo – visible on mobile only
	&-logo {
		@extend %marginAuto;
		display: block;
		width: $logoWidth / 3.75;
		height: $logoHeight / 3.75;
		margin: {
			top: $grd * 10;
			bottom: $grd * 10;
		}
		@include forTabletPortraitUp {
			// Hide on large displays as logo is already visible in the menu
			display: none;
		}
		svg {
			width: 100%;
			path {
				fill: $colorWhite01;
			}
		}
	}
	// Header headline text
	&-title {
		@extend %widthFull;
		@extend %paddingBottomHalf;
		@extend %fontExtendedBold;
		@extend %fontMedium;
		@extend %lineRight;
		position: relative;
		text-align: left;
		white-space: nowrap;
		color: $colorBlack01;
		// Page intro section specificity
		.ap-c-scn--intro & {
			// @extend %paddingTopAndHalf;
			padding-top: 18%;
			// Fallback font sizes
			@extend %fontExtendedBold;
			font-size: 5vw;
			text-align: center;
			white-space: normal;
			color: $colorWhite01;
			// padding-top: 0;
			// Remove pseudo element effects
			.ap-p-series & {
				padding-top: 20%;
			}
			&::before,
			&::after {
				display: none;
			}
			@include forTabletPortraitUp {
				padding-top: 12%;
				// Scale text based on browser width
				font-size: 3.25vw;
			}
			@include forBigDesktopUp {
				font-size: 2.75vw;
			}
			span {
				@extend %headlineBackground;
				@extend %lineHeightBody;
				padding: .5% 1.25%;
			}
		}
		// Featured series section specificity
		.ap-c-scn--featured & {
			@extend %titlePrimary;
			@extend %paddingTopBottomHalf;
		}
		.ap-c-scn--collection & {
			@extend %titlePrimary;
			@extend %paddingTopBottomHalf;
		}
		// Gallery section specificity
		.ap-c-scn--gallery & {
			@extend %titlePrimary;
		}
		// Next series section specificity
		.ap-c-scn--next & {
			@extend %titlePrimary;
		}
	}
	// Subtitles
	&-subtitle {
		// Hidden for now
		@extend %hideItem;
		@extend %widthFull;
		@extend %fontExtendedBold;
		@extend %fontRegular;
		@extend %lineHeightHeadline;
		position: relative;
		span {
			@extend %widthFull;
		}
		// Page intro section specificity
		.ap-c-scn--intro & {
			color: $colorWhite01;
		}
	}
	// Section header buttons
	.ap-c-btn-contained {
		position: relative;
		display: inline-block;
		right: auto;
		top: auto;
		margin: {
			top: $grd;
			bottom: $grd;
		}
		@include forSmallPhoneUp {
			position: absolute;
			right: 0;
			top: -10%;
			margin: 0;
		}
		@include forTabletPortraitUp {
			top: -5%;
		}
		@include forDesktopUp {
			top: -2%;
		}
		// Press section specifity
		.ap-c-scn--press & {
			@extend %buttonIconLeft;
		}
		// Instagram section specifity
		.ap-c-scn--instagram & {
			@extend %buttonIconLeft;
		}
	}
}

// Section footers – included on homepage featured section and series gallery sections
.ap-c-scn__footer {
	@extend %widthFull;
	@extend %paddingTopAndHalf;
	@extend %paddingBottomTriple;
	@extend %paddingLeftRight;
	position: relative;
	overflow: hidden;
	text-align: center;
	// Content wrapper
	&-container {
		@extend %widthWrap;
		position: relative;
	}
	// Footer headline text
	&-title {
		@extend %widthFull;
		@extend %fontExtendedBold;
		@extend %fontMedium;
		display: inline-block;
		position: relative;
		color: $colorWhite01;
		@include forPhoneOnly {
			font-size: 4vw;
		}
		p {
			@extend %headlineBackground;
			@extend %lineHeightBody;
			@extend %inlineLinks;
			display: inline;
			padding: .25% .75%;
		}
	}
	// Call to action button
	.ap-c-btn-contained {
		@extend %marginTopThird;
		@extend %buttonIconLeft;
		position: relative;
	}
}

// Section backgrounds

// Section background image dimensions
// Large backgrounds
$backgroundLargeWidth: 1920px;
$backgroundLargeHeight: 960px;
// Small backgrounds
$backgroundSmallWidth: 1920px;
$backgroundSmallHeight: 768px;

// Large background container height
%backgroundLargeHeight {
	height: $backgroundLargeHeight * .75;
	@include forBigDesktopOnly {
		height: $backgroundLargeHeight / 2;
	}
	@include forTabletOnly {
		height: $backgroundLargeHeight * .325;
	}
}
// Small background container height – 2 rows
%backgroundSmallHeight {
	height: $backgroundSmallHeight * 1.5;
	@include forBigDesktopOnly {
		height: $backgroundSmallHeight;
	}
	@include forTabletOnly {
		height: $backgroundSmallHeight * .65;
	}
}
// 3 rows
%backgroundSmallHeightAlt {
	height: $backgroundSmallHeight * 2.25;
	@include forBigDesktopOnly {
		height: $backgroundSmallHeight * 1.5;
	}
	@include forTabletOnly {
		height: $backgroundSmallHeight * .975;
	}
}
// Large background size
%backgroundLargeSize {
	background-size: 
		$backgroundLargeWidth * .75
		$backgroundLargeHeight * .75;
	@include forBigDesktopOnly {
		background-size: 
			$backgroundLargeWidth / 2
			$backgroundLargeHeight / 2;
	}
	@include forTabletOnly {
		background-size: 
			$backgroundLargeWidth * .325
			$backgroundLargeHeight * .325;
	}
}
// Small background size – doubled to allow two pattern rows
%backgroundSmallSize {
	background-size: 
		$backgroundSmallWidth * .75
		$backgroundSmallHeight * .75;
	@include forBigDesktopOnly {
		background-size: 
			$backgroundSmallWidth / 2
			$backgroundSmallHeight / 2;
	}
	@include forTabletOnly {
		background-size: 
			$backgroundSmallWidth * .325
			$backgroundSmallHeight * .325;
	}
}

// Section background element
.ap-c-scn__banner {
	position: absolute;
	right: 0;
	left: 0;
	width: 100%;
	user-select: none;
	background: {
		color: $colorBrand05;
		repeat: repeat;
		position: top center;
	}
	&::before {
		@extend %blockAbsolute;
		content: "";
	}
	// Hero header backgrounds
	.ap-c-scn--intro & {
		@extend %backgroundLargeHeight;
		@extend %backgroundLargeSize;
		top: 0;
		background-repeat: repeat-x;
		&::before {
			background-image:
				linear-gradient(
					-26deg,
					rgba($colorBrand04, 0),
					rgba($colorBrand04, .92)
				);
		}
	}
	// Main section call to action backgrounds
	.ap-c-scn--main & {
		@extend %backgroundSmallHeight;
		@extend %backgroundSmallSize;
		bottom: 0;
		&::before {
			background-image:
				linear-gradient(
					-26deg,
					rgba($colorBrand04, 0),
					rgba($colorBrand04, .92)
				);
		}
	}
	// Mini-bio section background
	.ap-c-scn--grazyna & {
		@extend %backgroundSmallHeightAlt;
		@extend %backgroundSmallSize;
		bottom: 0;
		&::before {
			background-image:
				linear-gradient(
					-26deg,
					rgba($colorBrand04, 0),
					rgba($colorBrand04, .92),
					rgba($colorBrand04, .92),
					rgba($colorBrand04, 0)
				);
		}
	}
}


// Video element size
$videoWidth: 1280px;
$videoHeight: 720px;

// Video container on home and work page
.ap-c-scn__video {
	@extend %marginAuto;
	@extend %shadowSmall;
	display: block;
	position: absolute;
	z-index: 2;
	bottom: 0;
	// Center positioning
	left: 50%;
	// Sizes calculated based on actual video dimensions
	width: $videoWidth / 2;
	height: $videoHeight / 2;
	// Position over section boundary
	transform: translate3d(-50%, 50%, 0);
	@include forTabletOnly {
		width: $videoWidth * .375;
		height: $videoHeight * .375;
	}
	@include forPhoneOnly {
		width: $videoWidth * .25;
		height: $videoHeight * .25;
	}
	@include forBigDesktopUp {
		width: $videoWidth * .625;
		height: $videoHeight * .625;
	}
	// Video element
	video {
		@extend %blockAbsolute;
		width: 100%;
		height: auto;
	}
}