// Navigation

// Shared navigation styles
$navBackground: rgba($colorWhite01, .96);
$navBorder: 1px solid $colorBrand05;

// Nav bar heights
$navBarHeightPhone: $grd * 7;
$navBarHeightTablet: $grd * 7.5;

// Shared height for nav bars and child elements
%navBarHeight {
	height: $navBarHeightPhone;
	@include forTabletPortraitUp {
		height: $navBarHeightTablet;
	}
}
// Navigation bar
%navBarContainer {
	@extend %widthFull;
	@extend %navBarHeight;
	@extend %transitionFast;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	transform-origin: top center;
}
// Scrollable navigation bar
%navBarContainerScrollable {
	@extend %navBarContainer;
	// Allow horizonal scrolling
	overflow-x: scroll;
	overflow-y: hidden;
	// Inertial scrolling behavior in webkit browsers
	-webkit-overflow-scrolling: touch;
	// Attempt* to hide scrollbars
	// IE
	-ms-overflow-style: none;
	// Firefox
	scrollbar-width: none;
	// Chrome and Safari
	&::-webkit-scrollbar {
		visibility: hidden;
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-thumb {
		visibility: hidden;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
		width: 0;
		height: 0;
	}
}
// Item lists
%navBarList {
	@extend %widthFull;
	width: 100vw;
	height: 100%;
	overflow: hidden;
}
// Deprecated
// Scrollable item lists
%navBarListScrolling {
	@extend %widthFull;
	height: 100%;
	// Allow horizonal scrolling
	overflow-x: scroll;
	overflow-y: hidden;
	// Inertial scrolling behavior in webkit browsers
	-webkit-overflow-scrolling: touch;
	// Attempt to hide scrollbars
	// IE
	-ms-overflow-style: none;
	// Firefox
	scrollbar-width: none;
	// Chrome and Safari
	&::-webkit-scrollbar {
		visibility: hidden;
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-thumb {
		visibility: hidden;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
		width: 0;
		height: 0;
	}
}
// Opt-in padding for list items and links
%navBarPadding {
	padding: {
		right: $grd * 2;
		left: $grd * 2;
	}
	@include forTabletPortraitUp {
		padding: {
			right: $grd * 2.25;
			left: $grd * 2.25;
		}
	}
}
// List items
%navBarItem {
	@extend %fontExtendedBold;
	@extend %fontMicro;
	position: relative;
	display: block;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	color: $colorBlack01;
	span {
		// Position text labels above pseudo element styles
		position: relative;
		font-size: fontSizeXXS;
		line-height: $navBarHeightPhone;
		@include forTabletPortraitUp {
			font-size: fontSizeXS;
			line-height: $navBarHeightTablet;
		}
	}
}
// Links within list items
%navBarLink {
	@extend %navBarItem;
	@extend %navBarPadding;
	@extend %hoverBackground;
	@extend %transitionFast;
	@extend %svgColorBlack;
	&:hover,
	&:focus {
		@extend %svgColorBrand;
		span {
			text-decoration: underline;
		}
	}
	&:active {
		svg {
			@extend %translateNormal;
		}
	}
	svg {
		@extend %transitionFast;
		display: inline-block;
		position: relative;
		width: $grd * 2;
		height: $grd * 2;
		@include forTabletPortraitUp {
			display: inline-block;
			width: $grd * 2.25;
			height: $grd * 2.25;
		}
	}
}
// Links with photo backgrounds
%navBarLinkAlt {
	@extend %navBarLink;
	@extend %backgroundImage;
	color: $colorWhite01;
	&:hover,
	&:focus {
		&::before {
			opacity: .24;
		}
		svg path {
			fill: $colorWhite01;
		}
	}
	// Photo background overlay
	&::before {
		content: "";
		opacity: 1;
		// Position above photo background
		z-index: 2;
		background: {
			image:
				linear-gradient(
					rgba($colorBrand04, .32),
					rgba($colorBrand04, .64),
					rgba($colorBrand04, 0)
				);
			color: rgba($colorBrand04, .48);
		}
	}
	span {
		// Position above pseudo element
		z-index: 3;
	}
	svg {
		// Position above pseudo element
		z-index: 3;
		path {
			fill: $colorWhite01;
		}
	}
}
// Show navigation bar
%navBarVisible {
	@extend %translateNormal;
	opacity: 1;
}
// Hide navigation bar offscreen
%navBarHidden {
	transform: translate3d(0, -100%, 0);
	opacity: .01;
}

// Main website navigation bar for large displays
.ap-c-nav-main {
	@extend %hidePhone;
	@extend %navBarContainer;
	@extend %navBarVisible;
	// Position above submenu nav
	z-index: 30;
	transform: translate3d(0, 0, 0);
	background: transparent;
	// Logo link container
	.ap-c-nav-main__home {
		@extend %navBarHeight;
		@extend %svgColorWhite;
		position: absolute;
		z-index: 2;
		display: none;
		padding: 0;
		left: 0;
		transform: none;
		@include forTabletPortraitUp {
			display: block;
			// Centering hack
			left: 50%;
			transform: translateX(-50%);
		}
		// Logo svg
		svg {
			@extend %navBarHeight;
			width: auto;
			padding: $grd / 2;
			width: $logoWidth / 4.5;
			height: $logoHeight / 4.5;
			@include forTabletPortraitUp {
				width: $logoWidth / 4;
				height: $logoHeight / 4;
			}
		}
	}
	&__list {
		@extend %navBarList;
		position: relative;
	}
	&__item {
		@extend %navBarItem;
		// White text labels until scrolling page downward
		color: $colorWhite01;
		svg path {
			// White icons until scrolling page downward
			fill: $colorWhite01;
		}
	}
	// Work, About, CV
	&__item--site {
		float: left;
	}
	// Instagram and Email
	&__item--social {
		float: right;
		span {
			@extend %spaceBefore;
		}
	}
	&__link {
		@extend %navBarLink;
		color: $colorWhite01;
		&:hover,
		&:focus {
			svg path {
				fill: $colorWhite01;
			}
		}
	}
	// Styles removed by JS when scrolling page upward
	&.ap-is-hidden {
		@extend %navBarHidden;
	}
	// Styles added by JS when page is scrolled past a certain point
	&.ap-is-undocked {
		@extend %svgColorBlack;
		background: $navBackground;
		.ap-c-nav-main__list {
			@extend %shadowSmall;
			border-bottom: $navBorder;
		}
		.ap-c-nav-main__item {
			color: $colorBlack01;
			span {
				color: $colorBlack01;
			}
		}
		.ap-c-nav-main__item--site {
			border-right: $navBorder;
		}
		.ap-c-nav-main__item--social {
			border-left: $navBorder;
		}
		.ap-c-nav-main__link,
		.ap-c-nav-main__home {
			&:hover,
			&:focus {
				span {
					color: $colorBrand01;
				}
				svg path {
					fill: $colorBrand01;
				}
			}
		}
	}
}

// Current page link styling for Work, About, and CV
%navCurrentPage {
	&::before {
		// Maintain background color for current page link
		opacity: 1;
	}
	span {
		// Maintain text underline for current page link
		text-decoration: underline;
	}
}
// Current page links
.ap-c-nav-main__item {
	// Body class parent selector
	.ap-p-main--work & {
		a[href*="work"] {
			@extend %navCurrentPage;
		}
	}
	.ap-p-main--about & {
		a[href*="about"] {
			@extend %navCurrentPage;
		}
	}
	.ap-p-main--cv & {
		a[href*="cv"] {
			@extend %navCurrentPage;
		}
	}
}

// Mobile navigation
$mobileNavOffset: $grd * 1.5;
$mobileNavRadius: $grd * 3;

// Mobile nav open and close toggles
.ap-c-nav-toggle {
	@extend %showPhone;
	@extend %fontExtendedBold;
	@extend %fontMicro;
	@extend %shadowSmall;
	@extend %transitionFast;
	// Hidden on large screens
	display: none;
	position: fixed;
	z-index: 40;
	width: auto; 
	// overflow: auto;
	height: $grd * 5.5;
	bottom: $mobileNavOffset;
	right: $mobileNavOffset;
	font-size: 14px;
	line-height: $grd * 5.5;
	text-align: left;
	color: $colorBrand01;
	background-color: $navBackground;
	border-radius: $mobileNavRadius;
	transition-delay: 0;
	cursor: pointer;
	span {
		position: relative;
		display: block;
		float: left;
		width: $grd * 7;
		height: 100%;
		padding-left: $grd * 1.75;
		user-select: none;
	}
	svg {
		@extend %transitionFast;
		position: relative;
		display: block;
		float: right;
		width: $grd * 5.5;
		height: $grd * 5.5;
		padding: 10%;
		// border: 1px solid white;
		border-radius: $mobileNavRadius;
		// background: blue;
		path {
			fill: $colorBrand01;
		}
	}
	// Open mobile nav toggle
	&--open {
		// JS triggered style that is removed when scrolling up
		&.ap-is-hidden {
			transform: 
				translate3d(0, 96px, 0)
				$scaleDownHide;
			// Delay button entry
			transition-delay: .3s;
		}
	}
	// Close mobile nav toggle
	&--close {
		right: $mobileNavOffset / 2;
		bottom: $mobileNavOffset / 2;
		color: $colorWhite01;
		background-color: $colorBrand01;
		box-shadow: none;
		svg path {
			fill: $colorWhite01;
		}
	}
}

// Mobile nav layout
.ap-c-nav-mobile {
	@extend %transitionFast;
	// Hidden until called by javascript
	display: block;
	position: fixed;
	top: $mobileNavOffset / 2;
	right: $mobileNavOffset / 2;
	bottom: $mobileNavOffset / 2;
	left: $mobileNavOffset / 2;
	// Position above other navigation
	z-index: 50;
	background-color: $navBackground;
	border-bottom-right-radius: $mobileNavRadius + 4px;
	opacity: 0;
	transform:
		$scaleDownHide
		translate3d(-32px, -32px, 0);
	transform-origin: bottom right;
	&::before {
		@extend %positionAbsolute;
		@extend %shadowOverlay;
		@extend %transitionSlow;
		content: "";
		background-color: $colorWhite05;
		border-bottom-right-radius: $mobileNavRadius + 4px;
		opacity: .01;
	}
	@include forTabletPortraitUp {
		// Hide on non-mobile screens sizes
		display: none;
		visibility: hidden;
	}
	// Home logo link
	&__home {
		@extend %widthFull;
		position: relative;
		height: $logoHeight / 3.75;
		margin: {
			top: $grd * 3;
			bottom: $grd * 4;
		}
		&:active {
			svg path {
				fill: $colorBrand01;
			}
		}
		a {
			@extend %marginAuto;
			display: block;
			width: $logoWidth / 3.75;
			height: $logoHeight / 3.75;
		}
		svg {
			display: block;
			width: 100%;
			height: 100%;
			path {
				fill: $colorBrand03;
			}
		}
	}
	// Nav lists
	&__list {
		position: relative;
		display: block;
		width: 50%;
		text-align: left;
		overflow: hidden;
	}
	&__list--site {
		float: left;
	}
	&__list--social {
		float: right;
	}
	&__list--contact {
		width: 100%;
		margin-top: $grd * 2;
	}
	// List items containing links
	&__item {
		@extend %widthFull;
		height: $grd * 7;
		line-height: $grd * 6.75;
		overflow: hidden;
	}
	&__item--label {
		@extend %fontExtendedNormal;
		height: $grd * 2;
		line-height: $grd * 2;
		margin-top: $grd * 2;
		padding: {
			right: $mobileNavOffset * 1.75;
			left: $mobileNavOffset * 1.75;
		}
		font-size: 12px;
		color: $colorBrand05;
	}
	&__item--site {
		border-bottom: $navBorder;
	}
	// Instagram and email
	&__item--social {
		border-left: $navBorder;
		border-bottom: $navBorder;
		span {
			@extend %spaceBefore;
		}
	}
	&__item--contact {
		width: 100%;
		border-bottom: $navBorder;
		span {
			@extend %spaceBefore;
		}
	}
	// Links within list items
	&__link {
		@extend %fontExtendedBold;
		position: relative;
		display: block;
		height: 100%;
		font-size: $fontSizeXXS;
		padding: {
			right: $mobileNavOffset * 1.75;
			left: $mobileNavOffset * 1.75;
		}
		color: $colorBrand04;
		// Mobile tap style
		&:active {
			color: $colorBrand01;
			background-color: rgba($colorBrand01, .24);
			svg path {
				fill: $colorBrand01;
			}
		}
		svg {
			position: relative;
			width: $grd * 2.25;
			height: $grd * 2.25;
			top: -1px;
			path {
				fill: $colorBrand03;
			}
		}
	}
	// Style added by JS when mobile menu toggle is pressed
	&.ap-is-visible {
		opacity: 1;
		transform:
			$scaleNormal
			$translateNormal;
		&::before {
			opacity: 1;
		}
	}
}

// Section navigation used for Work page and CV page
.ap-c-nav-section {
	// Hidden for now
	@extend %hideItem;
	@extend %navBarContainerScrollable;
	@extend %navBarHidden;
	background-color: $navBackground;
	// Position below main navigation
	z-index: 20;
	@include forTabletUp {
		// Remove scrolling behavior on large displays
		overflow: hidden;
	}
	// Nav list – scrolls horizontally on small screens
	&__list {
		@extend %navBarList;
	}
	// Link container
	&__item {
		@extend %navBarItem;
		text-align: center;
		border-right: $navBorder;
		background-position: center top;
		padding: $grd $grd / 2;
		@include forTabletUp {
			padding: 0;
		}
		&:first-of-type {
			padding-left: $grd * 2;
			@include forTabletUp {
				padding-left: 0;
			}
		}
		&:last-of-type {
			padding-right: $grd * 2;
			@include forTabletUp {
				padding-right: 0;
			}
		}
		&:last-of-type {
			border-right: none;
		}
	}
	// Links
	&__link {
		@extend %navBarLink;
		@extend %shadowSmall;
		border-radius: $mobileNavRadius;
		background-color: gray;
		@include forTabletUp {
			border-radius: 0;
			background-color: transparent;
			box-shadow: none;
		}
	}
	// Section anchor link
	li a {
		padding: 0;
		background-position: top center; 
		&:hover, 
		&:focus {
	  		svg {
	  			opacity: .96;
	  			transform: translate3d(0, 0, 0);
	  		}
	  	}
	  	&:active {
	  		svg {
	  			transform: translate3d(0, 2px, 0);
	  		}
		}
		@include forDesktopOnly {
			background-size: 150%;
		}
		@include forTabletOnly {
			background-size: 200%;
		}
		@include forPhoneOnly {
			background-size: 175%;
		}
	}
	// Link background image animation on /Work nav
	&__slide {
		@extend %hidePhone;
		@extend %positionAbsolute;
		@extend %backgroundImage;
		@extend %animationSlideshow;
		@extend %transitionFast;
		visibility: hidden;
		// Opacity is altered by the animation
		opacity: 0;
		@include forDesktopOnly {
			background-size: 150%;
		}
		@include forTabletOnly {
			background-size: 200%;
		}
		@include forPhoneOnly {
			background-image: none !important;
		}
	}
	&__slide--1 {
		background-position: top center;
	}
	&__slide--2 {
		background-position: center center; 
		// animation-delay: .67s;
		animation-delay: .34s;
	}
	&__slide--3 {
		background-position: bottom center; 
		// animation-delay: 1.34s;
		animation-delay: .67s;
	}
	// Link label
	a span {
		// Centering compensation for space used by icon
		padding-left: $grd * 1.75;
		@include forPhoneOnly {
			padding-left: 0;
		}
	}
	// Section icon
	a svg {
		position: relative;
		width: $grd * 1.75;
		height: $grd * 1.75;
		left: $grd / 2;
		opacity: .01;
		transform: translate3d(0, -3px, 0);
		path {
			fill: $colorBrand01;
		}
		@include forTabletOnly {
			width: $grd * 1.5;
			height: $grd * 1.5;
		}
		@include forPhoneOnly {
			display: none;
		}
	}
	// Specificity for /work page
	// Add a tag item with a right arrow
	&--work {
		.ap-c-nav-section__list {
			min-width: $grd * 80;
		}
		.ap-c-nav-section__item {
			// 5 nav items
			width: 20%;
			min-width: $grd * 16;
		}
		a {
			@extend %navBarLinkAlt;
			&:hover,
			&:focus {
				.ap-c-nav-section__slide {
					animation-play-state: running;
					visibility: visible;
				}
			}
		}
	}
	// Specificity for /cv page
	&--cv {
		.ap-c-nav-section__list {
			min-width: $grd * 112;
		}
		.ap-c-nav-section__item {
			// 7 nav items
			width: 14.286%;
			min-width: $grd * 16;
		}
	}
	// Styles removed by JS when scrolling page downward
	&.ap-is-visible {
		@extend %navBarVisible;
	}
	// Styles removed by JS when page is scrolled past a certain point
	&.ap-is-inactive {
		@extend %hideItem;
	}
}


// Series header navigation
.ap-c-nav-series {
	// Hidden for now
	@extend %hideItem;
	@extend %navBarContainer;
	@extend %navBarHidden;
	// Position below main navigation
	z-index: 15;
	&__list {
		@extend %navBarList;
		display: block;
		width: 100%;
	}
	&__item {
		@extend %navBarItem;
	}
	&__item--previous {
		float: left;
	}
	&__item--next {
		float: right;
	}
	&__item--collection {
		// Hidden for now
		@extend %hideItem;
		float: left;
	}
	&__item--title {
		@extend %navBarPadding;
		@extend %fontSmall;
		float: left;
	}
	&__item--share {
		float: right;
		&:last-of-type {
			// "Share:" label
			@extend %fontExtendedNormal;
		}
		span {
			display: none;
			&::before {
				content: "\00a0";
				display: inline-block;
			}
			@include forTabletPortraitUp {
				display: inline-block;
			}
		}
	}
	&__link {
		@extend %navBarLink;
		span::before {
			text-decoration: none;
		}
		.ap-c-nav-series__item--collection & {
			@extend %fontExtendedNormal;
		}
		.ap-c-nav-series__item--title & {
			@extend %fontRegular;
		}
		.ap-c-nav-series__item--share & {
			padding: {
				left: $grd;
				right: $grd;
			}
			@include forTabletPortraitUp {
				padding: {
					left: $grd * 1.5;
					right: $grd * 1.5;
				}
			}
		}
	}
	&__link--prevnext {
		@extend %navBarLinkAlt;
		// max-width: $grd * 20;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: clip;
		@include forTabletPortraitUp {
			max-width: $grd * 36;
		}
		@include forDesktopUp {
			max-width: $grd * 48;
		}
		span {
			display: none;
			@include forTabletPortraitUp {
				display: inline-block;
			}
		}
		.ap-c-nav-series__item--previous & {
			border-right: $navBorder;
			span {
				padding-left: $grd;
			}
			&:hover,
			&:focus {
				svg {
					@extend %translateLeft;
				}
			}
		}
		.ap-c-nav-series__item--next & {
			border-left: $navBorder;
			&:hover,
			&:focus {
				svg {
					@extend %translateRight;
				}
			}
		}
	}
	// Styles removed by JS when scrolling page downward
	&.ap-is-visible {
		@extend %navBarVisible;
	}
}

// Back To Top button
.ap-c-nav-top {
	@extend %shadowSmall;
	@extend %hoverShadow;
	@extend %transitionFast;
	// Hidden until activated by JS triggered style
	display: block;
	position: fixed;
	z-index: 40;
	bottom: $grd * 1.5;
	right: auto;
	left: $grd * 1.5;
	width: $grd * 5.5;
	height: $grd * 5.5;
	outline: 0;
	background-color: $navBackground;
	border-radius: 50%;
	&:hover,
	&:focus {
		@extend %translateUp;
		border: 0;
		&::before {
			opacity: 1;
			border-radius: 50%;
		}
		svg path {
			@include forTabletPortraitUp {
				fill: $colorWhite01;
			}
		}
	}
	&:active {
		@extend %translateNormal;
		outline: 0;
	}
	&::before {
		border-radius: 50%;
		background-color: $colorBrand01;
	}
	@include forTabletPortraitUp {
		// Change position on phones
		bottom: $grd * 2.5;
		right: $grd * 2.5;
		left: auto;
		width: $grd * 6;
		height: $grd * 6;
	}
	@include forBigDesktopUp {
		bottom: $grd * 3;
		right: $grd * 3;
		width: $grd * 6.5;
		height: $grd * 6.5;
	}
	// Button icon
	svg {
		@extend %transitionFast;
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		padding: 25%;
		path {
			fill: $colorBrand01;
		}
	}
	// Styles removed by JS when scrolling page downward
	&.ap-is-hidden {
		transform: 
			translate3d(0, 96px, 0)
			$scaleDownHide;
	}
	// Styles removed by JS when page is scrolled past a certain point
	// Button becomes available when far enough from page top
	&.ap-is-inactive {
		@extend %hideItem;
	}
}