// Buttons

// Button modifier variables
// Button with icons positioned on the left side
%buttonIconLeft {
	&:hover,
	&:focus {
		svg {
			// No transform animation on right aligned icons
			transform: none;
		}
	}
	span {
		&::before {
			// Add whitespace before label
			content: "\00a0";
			display: inline-block;
		}
		&::after {
			// Remove whitespace after label
			content: "";
			display: none;
		}
	}
	svg {
		float: left;
		top: 27%;
	}
}
// Alternate button style
%buttonAlternate {
	border: 1px solid rgba($colorWhite01, .64);
	span {
		color: $colorWhite01;
	}
	svg path {
		fill: rgba($colorWhite01, .8);
	}
	&:hover,
	&:focus {
		svg {
			transform: translate3d(0, 0, 0);
			path {
				fill: rgba($colorWhite01, .96);
			}
		}
	}
	&::before {
		background-color: $colorBrand01;
	}
}

// Button components
// Standard boxed buttons
.ap-c-btn-contained {
	@extend %transitionFast;
	display: inline-block;
	height: $grd * 5.5;
	width: auto;
	padding: {
		right: $grd * 2.25;
		left: $grd * 2.25;
	}
	text-decoration: none;
	white-space: nowrap;
	color: $colorBrand01;
	background-color: $colorWhite02;
	outline: 0;
	border: 1px solid rgba($colorBrand01, .48);
	box-shadow: 
		0 4px 0 -2px rgba($colorGray02, .12);
	// Hidden pseudo element
	&::before {
		@extend %positionAbsolute;
		@extend %transitionFast;
		content: "";
		// Prevent visual flickering
		z-index: -1;
		background-color: $colorBrand01;
		box-shadow: 
			0 0 0 1px rgba($colorBrand04, .08),
			0 8px 4px -6px rgba($colorBrand01, .48),
			0 16px 8px -12px rgba($colorBrand04, .16),
			inset 0 -1px 1px 2px rgba($colorWhite01, .08),
			inset 0 0 0 2px rgba($colorWhite01, .04);
		// .01 avoids browser repaint
		opacity: .01;
	}
	// Interaction styles
	&:hover, 
	&:focus {
		transform: $translateUp;
		box-shadow: none;
		// Reveal pseudo element
		&::before {
			opacity: 1;
		}
		span {
			color: $colorWhite01;
		}
		svg {
			// Default icon animation
			transform: $translateRight;
			path {
				fill: $colorWhite01;
			}
		}
	}
	&:focus {
		outline: {
			width: 3px;		
			style: solid;
			color: $colorWhite01;
		}
	}
	&:active {
		outline: 0;
		transform: 
			$translateNormal,
			$scaleDownLarge;
		&::before {
			background-color: $colorBrand03;
		}
	}
	&:visited {
		outline: 0;
	}
	@include forPhoneOnly {
		height: $grd * 5.25;
		padding: {
			right: $grd * 1.75;
			left: $grd * 1.75;
		}
	}
	@include forBigDesktopUp {
		height: $grd * 6;
		padding: {
			right: $grd * 2.375;
			left: $grd * 2.375;
		}
	}
	// Text label
	span {
		@extend %fontExtendedBold;
		@extend %fontSmall;
		@extend %transitionFast;
		position: relative;
		display: inline-block;
		line-height: $grd * 5.4;
		color: $colorBrand01;
		white-space: nowrap;
		&::after {
			// Add whitespace after label
			content: "\0020";
			display: inline-block;
		}
		&::selection {
			color: inherit;
			background: transparent;
		}
		@include forPhoneOnly {
			font-size: 14px;
			line-height: $grd * 5.1;
		}
		@include forBigDesktopUp {
			line-height: $grd * 5.6;
		}
	}
	// Button icon
	svg {
		@extend %transitionFast;
		position: relative;
		display: inline-block;
		width: $grd * 2.25;
		height: $grd * 2.25;
		bottom: 2px;
		path {
			fill: $colorBrand01;
		}
		@include forPhoneOnly {
			width: $grd * 2;
			height: $grd * 2;
			bottom: 1px;
		}
		@include forBigDesktopUp {
			bottom: 3px;
			width: $grd * 2.5;
			height: $grd * 2.5;
		}
	}
}
// Unboxed buttons
.ap-c-btn-uncontained {
	display: inline-block;
	color: $colorBrand01;
	line-height: 1;
	white-space: nowrap;
	text-decoration: none;
	border: 0;
	outline: 0;
	&::before {
		// Overwrite potential modifier variable pseudo elements styles
		display: none;
	}
	// Interaction styles
	&:hover, 
	&:focus {
		span {
			text-decoration: underline;
		}
		svg {
			// Default icon animation
			transform: $translateRight;
			path {
				fill: $colorBrand01;
			}
		}
	}
	// Text label
	span {
		@extend %fontExtendedBold;
		@extend %fontSmall;
		display: inline-block;
		@include forPhoneOnly {
			font-size: 14px;
		}
		&::after {
			// Add whitespace after label
			content: "\0020";
			display: inline-block;
		}
	}
	// Button icon
	svg {
		@extend %transitionFast;
		position: relative;
		width: $grd * 2;
		height: $grd * 2;
		bottom: 2px;
		path {
			fill: $colorBrand01;
		}
		@include forBigDesktopUp {
			width: $grd * 2.25;
			height: $grd * 2.25;
		}
	}
}