// Typography variables

// Font styles
%fontExtendedNormal {
	font-family: "TypefaceExtended", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal; 
	font-style: normal;
}
%fontExtendedBold {
	font-family: "TypefaceExtended", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold; 
	font-style: normal;
}
%fontLight {
	font-family: "Typeface", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100; 
	font-style: normal;
}
%fontNormal {
	font-family: "Typeface", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal; 
	font-style: normal;
}
%fontBold {
	font-family: "Typeface", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold; 
	font-style: normal;
}

// $lineHeightParagraph: 1.5;

// $lineHeightHeadline: 1;

$fontSizeXXL: 55px;
$letterspacing: 1.5;

$fontSizeXXL: 48px;
$lineHeightXXL: 1.5;

$fontSizeXXL: 48px;
$lineHeightXXL: 1.5;

$fontSizeXXL: 42px;
$lineHeightXXL: 1.5;

$fontSizeXXL: 36px;
$lineHeightXXL: 1.5;

$fontSizeXXL: 32px;
$lineHeightXXL: 1.5;

$fontSizeXXL: 28px;
$lineHeightXXL: 1.5;

$fontSizeXXL: 24px;
$lineHeightXXL: 1.5;

$fontSizeXXL: 21px;
$lineHeightXXL: 1.5;

$fontSizeXXL: 18px;
$lineHeightXXL: 1.5;

$fontSizeXXL: 16px;
$lineHeightXXL: 1.5;

$fontSizeXXL: 14px;
$lineHeightXXL: 1.5;

$fontSizeXXL: 12px;
$lineHeightXXL: 1.5;

$fontSizeXXL: 10px;
$lineHeightXXL: 1.5;


// Font sizes
%fontExtraLarge {
	font-size: 48px;
	letter-spacing: -1.25px;
	line-height: 1.125;
	text-rendering: optimizeLegibility;
	@include forTabletOnly {
		font-size: 42px;
	}
	@include forPhoneOnly {
		font-size: 36px;
	}
	@include forBigDesktopUp {
		font-size: 55px;
	}
}
%fontLarge {
	font-size: 36px;
	letter-spacing: -.75px;
	line-height: 1.25;
	text-rendering: optimizeLegibility;
	@include forTabletOnly {
		font-size: 28px;
	}
	@include forPhoneOnly {
		font-size: 24px;
	}
	@include forBigDesktopUp {
		font-size: 42px;
	}
}
%fontMedium {
	font-size: 28px;
	letter-spacing: -.625px;
	line-height: 1.375;
	@include forTabletOnly {
		font-size: 24px;
	}
	@include forPhoneOnly {
		font-size: 21px;
	}
	@include forBigDesktopUp {
		font-size: 32px;
	}
}
%fontRegular {
	font-size: 21px;
	letter-spacing: -.5px;
	line-height: 1.375;
	@include forTabletOnly {
		font-size: 18px;
	}
	@include forPhoneOnly {
		font-size: 16px;
	}
	@include forBigDesktopUp {
		font-size: 24px;
	}
}
%fontSmall {
	font-size: 16px;
	letter-spacing: -.25px;
	line-height: 1.375;
	@include forTabletOnly {
		font-size: 14px;
	}
	@include forPhoneOnly {
		font-size: 12px;
	}
	@include forBigDesktopUp {
		font-size: 18px;
	}
}
%fontExtraSmall {
	font-size: 12px;
	letter-spacing: -.125px;
	line-height: 1.375;
	@include forBigDesktopUp {
		font-size: 14px;
	}
}
%fontMicro {
	font-size: 10px;
	letter-spacing: normal;
	line-height: 1.375;
	@include forBigDesktopUp {
		font-size: 12px;
	}
}