 // Color variables

// Reference palette:
// https://www.ibm.com/design/v1/language/resources/color-library/

// Main black
$colorBlack01:#030205;

// Grayscale
// IBM Gray 90, 80, 70, 60, 50, 40, 30, 20, 10
$colorGray01:#272727;
$colorGray02:#343334;
$colorGray03:#464646;
$colorGray04:#595859;
$colorGray05:#777677;
$colorGray06:#949394;
$colorGray07:#a6a5a6;
$colorGray08:#c0bfc0;
$colorGray09:#d8d8d8;
$colorGray10:#eaeaea;

// Main white
$colorWhite01:#ffffff;
// IBM Neutral White 1, 2, 3, 4
$colorWhite02:#fcfcfc;
$colorWhite03:#f9f9f9;
$colorWhite04:#f6f6f6;
$colorWhite05:#f3f3f3;

// Transparent whites
$colorWhiteTransparent01: rgba($colorWhite01, .96);
$colorWhiteTransparent02: rgba($colorWhite01, .92);
$colorWhiteTransparent03: rgba($colorWhite01, .8);


// "Brand" colors
// IBM Indigo 70, 80, 90
$colorBrand01:#473793;
$colorBrand02:#352969;
$colorBrand03:#272149;
$colorBrand04:#161229;
$colorBrand05:#8A8894;

// Tag colors
// Reference palette:
// Google Images mobile settings search by color
$colorTagWhite: #f0f0f0;
$colorTagGrey: #9e9e9e;
$colorTagBlack: #222222;
$colorTagBrown: #5d4037;
$colorTagRed: #f44336;
$colorTagOrange: #ff9800;
$colorTagYellow: #ffeb3b;
$colorTagGreen: #4caf50;
$colorTagCyan: #00bcd4;
$colorTagBlue: #2196f3;
$colorTagPurple: #9c27b0;
$colorTagPink: #e91e63;