// Typography variables

// Font styles
%fontExtendedNormal {
	font-family: "TypefaceExtended", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal; 
	font-style: normal;
}
%fontExtendedBold {
	font-family: "TypefaceExtended", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold; 
	font-style: normal;
}
%fontLight {
	font-family: "Typeface", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100; 
	font-style: normal;
}
%fontNormal {
	font-family: "Typeface", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal; 
	font-style: normal;
}
%fontBold {
	font-family: "Typeface", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold; 
	font-style: normal;
}

// Line heights
%lineHeightLabel {
	line-height: 1;
}
%lineHeightHeadline {
	line-height: 1.375;
}
%lineHeightBody {
	line-height: 1.5;
}

$fontSizeXXXL: 42px;
 $fontSizeXXL: 36px;
  $fontSizeXL: 32px;
   $fontSizeL: 28px;
   $fontSizeM: 24px;
   $fontSizeR: 21px;
   $fontSizeS: 18px;
  $fontSizeXS: 16px;
 $fontSizeXXS: 14px;
$fontSizeXXXS: 12px;

// Exclude line body here. Apply that individually

// Font sizes
%fontLarge {
	font-size: 42px;
	letter-spacing: -.75px;
	text-rendering: optimizeLegibility;
	@include forTabletOnly {
		font-size: 28px;
	}
	@include forPhoneOnly {
		font-size: 24px;
	}
	@include forBigDesktopUp {
		font-size: 42px;
	}
}
%fontMedium {
	font-size: 28px;
	letter-spacing: -.625px;
	text-rendering: optimizeLegibility;
	@include forTabletOnly {
		font-size: 24px;
	}
	@include forPhoneOnly {
		font-size: 21px;
	}
	@include forBigDesktopUp {
		font-size: 32px;
	}
}
%fontRegular {
	font-size: 21px;
	letter-spacing: -.5px;
	@include forTabletOnly {
		font-size: 18px;
	}
	@include forPhoneOnly {
		font-size: 16px;
	}
	@include forBigDesktopUp {
		font-size: 24px;
	}
}
%fontSmall {
	font-size: 16px;
	letter-spacing: -.25px;
	@include forTabletOnly {
		font-size: 14px;
	}
	@include forPhoneOnly {
		font-size: 12px;
	}
	@include forBigDesktopUp {
		font-size: 18px;
	}
}
%fontMicro {
	font-size: 12px;
	letter-spacing: normal;
	@include forBigDesktopUp {
		font-size: 14px;
	}
}

// These can be optionally in correspiondence with font size extends
%spacingExtraLarge {
	letter-spacing: -.625px;
	@include forTabletPortraitUp {
		letter-spacing: -.75px;
	}
	@include forTabletUp {
		letter-spacing: -.875px;
	}
	@include forBigDesktopUp {
		letter-spacing: -1px;
	}
}
%spacingLarge {
	letter-spacing: -.5px;
	@include forTabletPortraitUp {
		letter-spacing: -.625px;
	}
	@include forTabletUp {
		letter-spacing: -.75px;
	}
	@include forBigDesktopUp {
		letter-spacing: -.875px;
	}
}
%spacingMedium {
	letter-spacing: -.375px;
	@include forTabletPortraitUp {
		letter-spacing: -.5px;
	}
	@include forTabletUp {
		letter-spacing: -.625px;
	}
	@include forBigDesktopUp {
		letter-spacing: -.75px;
	}
}
%spacingRegular {
	letter-spacing: -.25px;
	@include forTabletPortraitUp {
		letter-spacing: -.375px;
	}
	@include forTabletUp {
		letter-spacing: -.5px;
	}
	@include forBigDesktopUp {
		letter-spacing: -.625px;
	}
}
%spacingSmall {
	letter-spacing: normal;
	@include forTabletPortraitUp {
		letter-spacing: -.25px;
	}
	@include forTabletUp {
		letter-spacing: -.375px;
	}
	@include forBigDesktopUp {
		letter-spacing: -.5px;
	}
}
%spacingMicro {
	letter-spacing: normal;
	@include forBigDesktopUp {
		letter-spacing: -.25px;
	}
}

// Shared text styles

// Labels and single-line headers
%singleLine {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
}

// Non-breaking spaces before/after text
%spaceBefore {
	&::before {
		content: "\00a0";
		display: inline-block;
	}
}
%spaceAfter {
	&::after {
		content: "\00a0";
		display: inline-block;
	}
}

// Deprecated
// Inline link style when hovered or focused
%hoverLinkBackground {
	@extend %hoverBackground;
	display: inline-block;
	position: relative;
	color: inherit;
	&::before {
		background-color: rgba($colorBrand01, .92);
		z-index: -1;
	}
	&:hover,
	&:focus {
		@include forTabletPortraitUp {
			z-index: 2;
			color: $colorWhite01;
		}
	}
}

// Style text links within parent element
%inlineLinks {
	a {
		display: inline-block;
		position: relative; // Needed for hover effect
		z-index: 2;
		color: inherit;
		text-decoration: {
			line: underline;
			skip: auto;
			style: solid;
			color: inherit;
		}
		&::before {
			@extend %blockAbsolute;
			@extend %transitionFast;
			content: "";
			display: inline-block;
			background-color: rgba($colorBrand01, .92);
			z-index: -1;
			opacity: .01;
		}
		&:hover,
		&:focus {
			z-index: 2;
			color: $colorWhite01;
			&::before {
				opacity: 1;
			}
		}
	}
}