// Typography variables

// Font styles
%fontExtendedNormal {
	font-family: "TypefaceExtended", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal; 
	font-style: normal;
}
%fontExtendedBold {
	font-family: "TypefaceExtended", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold; 
	font-style: normal;
}
%fontLight {
	font-family: "Typeface", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100; 
	font-style: normal;
}
%fontNormal {
	font-family: "Typeface", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal; 
	font-style: normal;
}
%fontBold {
	font-family: "Typeface", 
	-apple-system, BlinkMacSystemFont, "Segoe UI", 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold; 
	font-style: normal;
}

// Line heights
%lineHeightLabel {
	line-height: 1;
}
%lineHeightHeadline {
	line-height: 1.375;
}
%lineHeightBody {
	line-height: 1.5;
}

$fontSizeXXXL: 42px;
 $fontSizeXXL: 36px;
  $fontSizeXL: 32px;
   $fontSizeL: 28px;
   $fontSizeM: 24px;
   $fontSizeR: 21px;
   $fontSizeS: 18px;
  $fontSizeXS: 16px;
 $fontSizeXXS: 14px;
$fontSizeXXXS: 12px;

// Exclude line body here. Apply that individually

// Font sizes
%fontLarge {
	font-size: 42px;
	letter-spacing: -.75px;
	text-rendering: optimizeLegibility;
	@include forTabletOnly {
		font-size: 28px;
	}
	@include forPhoneOnly {
		font-size: 24px;
	}
	@include forBigDesktopUp {
		font-size: 42px;
	}
}
%fontMedium {
	font-size: 28px;
	letter-spacing: -.625px;
	text-rendering: optimizeLegibility;
	@include forTabletOnly {
		font-size: 24px;
	}
	@include forPhoneOnly {
		font-size: 21px;
	}
	@include forBigDesktopUp {
		font-size: 32px;
	}
}
%fontRegular {
	font-size: 21px;
	letter-spacing: -.5px;
	@include forTabletOnly {
		font-size: 18px;
	}
	@include forPhoneOnly {
		font-size: 16px;
	}
	@include forBigDesktopUp {
		font-size: 24px;
	}
}
%fontSmall {
	font-size: 16px;
	letter-spacing: -.25px;
	@include forTabletOnly {
		font-size: 14px;
	}
	@include forPhoneOnly {
		font-size: 12px;
	}
	@include forBigDesktopUp {
		font-size: 18px;
	}
}
%fontMicro {
	font-size: 12px;
	letter-spacing: normal;
	@include forBigDesktopUp {
		font-size: 14px;
	}
}