// Shared decorative styles

// Borders
$borderLight: 1px solid $colorWhite01;
$borderMedium: 1px solid $colorGray09;
$borderDark: 1px solid $colorBrand05;

// Transformations
$scaleNormal: scale3d(1, 1, 1);
$scaleUpSmall: scale3d(1.025, 1.025, 1);
$scaleUpLarge: scale3d(1.0425, 1.0425, 1);
$scaleDownSmall: scale3d(.975, .975, 1);
$scaleDownLarge: scale3d(.9575, .9575, 1);
$scaleDownHide: scale3d(.001, .001, 1);
$translateNormal: translate3d(0, 0, 0);
$translateRight: translate3d(4px, 0, 0);
$translateLeft: translate3d(-4px, 0, 0);
$translateUp: translate3d(0, -4px, 0);
$translateDown: translate3d(0, 4px, 0);
$translateUpRight: translat3d(4px, -4px, 0);

// Logo image sizing utilities
$logoWidth: 480px;
$logoHeight: 224px;

// Shadows
%shadowSmall {
	box-shadow: 
	    0 4px 0 -2px rgba($colorBrand04, .12),
	    0 0 0 1px rgba($colorBrand03, .02),
		inset 0 0 0 1px rgba($colorBrand05, .24);
}
%shadowLarge {
	box-shadow: 
		0 24px 12px -12px rgba($colorBrand04, .12),
		0 12px 6px -6px rgba($colorBrand03, .16),
		inset 0 -1px 1px 2px rgba($colorBrand03, .08),
		inset 0 0 0 2px rgba($colorBrand03, .08);
}
// Shadow for large overlay-type elements
%shadowOverlay {
	box-shadow:
		0 0 16px 8px rgba($colorBrand04, .24),
		0 6px 3px -3px rgba($colorBrand04, .16),
		0 0 0 1px rgba($colorBrand04, .08),
		inset 0 -1px 1px 2px rgba($colorBrand03, .08),
		inset 0 0 0 2px rgba($colorBrand03, .04);
}
%headlineShadow {
	text-shadow: 
		0 .5px 0 $colorBrand02,
		0 1px 0 $colorBrand01;
}

// Text
// Text underline when hovered
%hoverUnderline {
	text-decoration: none;
	span {
		text-decoration: none;
	}
	&:hover,
	&:focus {
		text-decoration: underline;
		text-decoration-skip-ink: auto;
		span {
			text-decoration: underline;
			text-decoration-skip-ink: auto;
		}
	}
}
// Non-breaking space before text label
%labelSpaceBefore {
	&::before {
		content: "\00a0";
		display: inline-block;
	}
}
// Non-breaking space after text label
%labelSpaceAfter {
	&::after {
		content: "\00a0";
		display: inline-block;
	}
}
// Line on sides effects
%lineLeftRight {
	color: $colorBlack01;
	overflow: hidden;
	&::before,
	&::after {
		content: "";
		position: relative;
		display: inline-block;
		vertical-align: middle;
		background-color: $colorBrand05;
		height: 1px;
		width: 50%;
	}
	&::before {
		margin-left: -50%;
	}
	&::after {
		margin-right: -50%;
	}
}
%lineLeft {
	@extend %lineLeftRight;
	&::before {
		width: 100%;
	}
	&::before {
		margin-left: -100%;
	}
	&::after {
		display: none;
	}
}
%lineRight {
	@extend %lineLeftRight;
	&::after {
		width: 100%;
	}
	&::after {
		margin-right: -100%;
	}
	&::before {
		display: none;
	}
}
// Photo banner header text
%headlineBackground {
	@extend %headlineShadow;
	background-image: 
		linear-gradient(
			-26deg,
			rgba($colorBrand05, .52),
			rgba($colorBrand05, 0),
			rgba($colorBrand05, .52)
		);
	background-color: rgba($colorBrand03, .48);
}

// Transitions
// transition-property beyond transform and opacity are set individually for improved performance
// timing-function reference:
// https://material.io/design/motion/speed.html#easing
%transitionVeryFast {
	transition: {
		duration: .08s;
		// Standard curve
		timing-function: cubic-bezier(.4, 0, .2, 1);
		property: 
			transform,
			opacity;
	}
}
%transitionFast {
	transition: {
		duration: .15s;
		timing-function: cubic-bezier(.4, 0, .2, 1);
		property: 
			transform,
			opacity;
	}
}
%transitionSlow {
	transition: {
		duration: .25s;
		// Acceleration curve
		timing-function: cubic-bezier(.4, 0, 1, 1);
		property: 
			transform,
			opacity;
	}
}

// Pseudo element effects
// Reveal pseudo styles when hovered or focused
%hoverShowPseudo {
	&::before {
		@extend %transitionFast;
		content: "";
		// Hide initially, .01 value avoids browser repaint for better performance
		opacity: .01;
		@include forPhoneOnly {
			// Remove on mobile
			display: none;
		}
	}
	&:hover,
	&:focus {
		&::before {
			content: "";
			// Reveal pseudo elements
			opacity: 1;
		}
	}
}
// Reveal background style when hovered or focused
%hoverBackground {
	@extend %hoverShowPseudo;
	position: relative;
	&::before {
		@extend %positionAbsolute;
		background-color: rgba($colorBrand01, .24);
	}
}
// Reveal shadow style when hovered or focused
%hoverShadow {
	@extend %hoverShowPseudo;
	position: relative;
	&::before {
		@extend %positionAbsolute;
		@extend %shadowLarge;
	}
}

// Inline link style when hovered or focused
%hoverLinkBackground {
	@extend %hoverBackground;
	display: inline-block;
	position: relative;
	color: inherit;
	&::before {
		background-color: rgba($colorBrand01, .92);
		z-index: -1;
	}
	&:hover,
	&:focus {
		@include forTabletPortraitUp {
			z-index: 2;
			color: $colorWhite01;
		}
	}
}

// Reveal svg icons when hovered or focused
%hoverShowIcon {
	&:hover,
	&:focus {
		svg {
			opacity: 1;
		}
	}
	svg {
		@extend %transitionFast;
		opacity: .01;
	}
}

// Slider/scrolling object components
// Fade out edges – used on sliders and navigation lists
// z-index and left/right positioning are applied individually
// Shared slider edge styles
%sliderEdge {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: $grd * 2;
	pointer-events: none;
	@include forTabletPortraitUp {
		width: $grd * 3;
	}
}
%sliderEdgeRight {
	@extend %sliderEdge;
	background-image:
		linear-gradient(
			to right,
			rgba($colorWhite02, 1),
			rgba($colorWhite02, .67),
			rgba($colorWhite02, 0)
		);
}
%sliderEdgeLeft {
	@extend %sliderEdge;
	background-image:
		linear-gradient(
			to left,
			rgba($colorWhite02, 1),
			rgba($colorWhite02, .67),
			rgba($colorWhite02, 0)
		);
}


// Backgrounds

// Background gradients
// Transparent to off-white
%gradientOffwhiteFadeOut {
	background-image: 
		linear-gradient(
			rgba($colorWhite05, 1),
			rgba($colorWhite05, 0),
			rgba($colorWhite05, 0)
		);
}
// Off-white to transparent
%gradientOffwhiteFadeIn {
	background-image: 
		linear-gradient(
			rgba($colorWhite05, 0),
			rgba($colorWhite05, 0),
			rgba($colorWhite05, 1)
		);
}
// Off-white to transparent to off-white
%gradientOffwhiteFadeOutIn {
	background-image: 
		linear-gradient(
			rgba($colorWhite05, 1),
			rgba($colorWhite05, 0),
			rgba($colorWhite05, 0),
			rgba($colorWhite05, 1)
		);
}
// Transparent to off-white to transparent
%gradientOffwhiteFadeInOut {
	background-image: 
		linear-gradient(
			rgba($colorWhite05, 0),
			rgba($colorWhite05, 1),
			rgba($colorWhite05, 1),
			rgba($colorWhite05, 0)
		);
}
// White to transparent to White
%gradientWhiteFadeOutIn {
	background-image: 
		linear-gradient(
			rgba($colorWhite01, 1),
			rgba($colorWhite01, 0),
			rgba($colorWhite01, 0),
			rgba($colorWhite01, 1)
		);
}
// Transparent to White to transparent
%gradientWhiteFadeInOut {
	background-image: 
		linear-gradient(
			rgba($colorWhite01, 0),
			rgba($colorWhite01, 1),
			rgba($colorWhite01, 1),
			rgba($colorWhite01, 0)
		);
}

// %gradientWhiteFadeInOut {
// 	background-image: 
// 		linear-gradient(
// 			rgba($colorWhite01, 0),
// 			rgba($colorWhite01, 1),
// 			rgba($colorWhite01, 1),
// 			rgba($colorWhite01, 0)
// 		);
// }

// Pattern background images
// Shared background pattern styles

// Logo pattern measurements
$patternWidth: 448px;
$patternHeight: 192px;

%patternSize {
	background: {
		repeat: repeat;
		position: top center;
		// Dimensions calculated based on actual svg size
		// Sizes matched hero background image pattern sizes
		size: 
			$patternWidth / 3.5
			$patternHeight / 3.5;
	}
	@include forDesktopOnly {
		background-size: 
			$patternWidth / 3.75
			$patternHeight / 3.75;
	}
	@include forTabletOnly {
		background-size: 
			$patternWidth / 5.5
			$patternHeight / 5.5;
	}
	@include forPhoneOnly {
		background-size: 
			$patternWidth / 6
			$patternHeight / 6;
	}
	@include forBigDesktopUp {
		background-size: 
			$patternWidth / 2.5
			$patternHeight / 2.5;
	}
}
// White pattern
%patternWhite {
	@extend %patternSize;
	background-image: 
		url("https://res.cloudinary.com/adamska/image/upload/v1/ui/background-pattern_ffffff.svg");
}
// Off-white pattern
%patternOffwhite {
	@extend %patternSize;
	background-image: 
		url("https://res.cloudinary.com/adamska/image/upload/v1/ui/background-pattern_f3f3f3.svg");
}
// Indigo pattern
%patternIndigo {
	@extend %patternSize;
	background-image: 
		url("https://res.cloudinary.com/adamska/image/upload/v1/ui/background-pattern_272149.svg");
}
// Deep Indigo pattern
%patternDeepIndigo {
	@extend %patternSize;
	background-image: 
		url("https://res.cloudinary.com/adamska/image/upload/v1/ui/background_pattern_161229.svg");
}

// Section backgrounds
%sectionBackground01 {
	@extend %gradientOffwhiteFadeOutIn;
	&::before {
		@extend %positionAbsolute;
		@extend %patternWhite;
		content: "";
		// Position pattern below gradient
		z-index: -1;
		background-color: $colorWhite05;
	}
}
%sectionBackground02 {
	@extend %gradientOffwhiteFadeInOut;
	&::before {
		@extend %positionAbsolute;
		@extend %patternWhite;
		content: "";
		z-index: -1;
		background-color: $colorWhite05;
	}
}
%sectionBackground03 {
	@extend %gradientWhiteFadeOutIn;
	&::before {
		@extend %positionAbsolute;
		@extend %patternOffwhite;
		content: "";
		z-index: -1;
		background-color: $colorWhite01;
	}
}
%sectionBackground04 {
	@extend %gradientWhiteFadeInOut;
	&::before {
		@extend %positionAbsolute;
		@extend %patternOffwhite;
		content: "";
		z-index: -1;
		background-color: $colorWhite01;
	}
}

// Create half backgrounds

%backgroundStackedStyle {
	&::before,
	&::after {
		content: "";
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		height: 50%;
	}
	&::before {
		z-index: -1;
		top: 0;
		background-position: bottom center;
	}
	&::after {
		z-index: -2;
		bottom: 0;
		background-position: top center;
	}
}

%backgroundStyle {
	&::before {
		@extend %positionAbsolute;
		content: "";
		height: 100%;
	}
	&::before {
		z-index: -1;
		top: 0;
		background-position: bottom center;
	}
}

%backgroundStackedLight {
	@extend %backgroundStackedStyle;
	background-image: 
		linear-gradient(
			rgba($colorWhite05, 1),
			rgba($colorWhite05, 0),
			rgba($colorWhite01, 0),
			rgba($colorWhite01, 1),
			rgba($colorWhite01, 0),
			rgba($colorWhite05, 0),
			rgba($colorWhite05, 1)
		);
	&::before {
		@extend %patternWhite;
		background-color: $colorWhite05;
	}
	&::after {
		@extend %patternOffwhite;
		background-color: $colorWhite01;
	}
}

%backgroundLight {
	@extend %backgroundStyle;
	background-image: 
		linear-gradient(
			rgba($colorWhite05, 1),
			rgba($colorWhite05, 0),
			rgba($colorWhite01, 0),
			rgba($colorWhite01, 1)
		);
	&::before {
		@extend %patternOffwhite;
		background-color: $colorWhite01;
	}
}

%backgroundLightAlternate {
	@extend %backgroundStyle;
	background-image: 
		linear-gradient(
			rgba($colorWhite01, 1),
			rgba($colorWhite01, 0),
			rgba($colorWhite05, 0),
			rgba($colorWhite05, 1)
		);
	&::before {
		@extend %patternWhite;
		background-color: $colorWhite05;
	}
}


%backgroundDark {
	@extend %backgroundStyle;
	background-image: 
		linear-gradient(
			rgba($colorBrand04, 1),
			rgba($colorBrand04, 0),
			rgba($colorBrand03, 1),
			rgba($colorBrand03, 0),
			rgba($colorBrand03, 1)
		);
	&::before {
		@extend %patternDeepIndigo;
		background-color: $colorBrand03;
	}
	&::after {
		@extend %patternIndigo;
		background-color: $colorBrand04;
	}
}

%backgroundDarkAlternate {
	@extend %backgroundStyle;
	background-image: 
		linear-gradient(
			rgba($colorBrand03, 1),
			rgba($colorBrand03, 0),
			rgba($colorBrand04, 1),
			rgba($colorBrand04, 0),
			rgba($colorBrand04, 1)
		);
	&::before {
		@extend %patternDeepIndigo;
		background-color: $colorBrand03;
	}
	&::after {
		@extend %patternIndigo;
		background-color: $colorBrand04;
	}
}

// Animations
// Slideshow animations — used in cards and navigation components
// Animation reference:
// https://snook.ca/archives/html_and_css/simplest-css-slideshow
%animationSlideshow {
	animation: {
		name: slideshow;
		duration: 1.98s;
		timing-function: ease-in;
		iteration-count: infinite;
		fill-mode: forwards;
		direction: normal;
		play-state: paused;
	}
}
// Basic fade in
%animationFadeIn {
	animation: {
		name: fadeIn;
		duration: .33s;
		timing-function: ease-in;
		iteration-count: 1;
		fill-mode: forwards;
		direction: normal;
		play-state: paused;
	}
}
// Basic fade out
%animationFadeOut {
	animation: {
		name: fadeOut;
		duration: .33s;
		timing-function: ease-in;
		iteration-count: infinite;
		fill-mode: forwards;
		direction: normal;
		play-state: paused;
	}
}

// Animation keyframes
// "%animationSlideshow" keyframes
@keyframes slideshow {
	0% {
		opacity: 0;
	}
	11.11% {
		opacity: 1;
	}
	33.33% {
		opacity: 1;
	}
	44.44% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
// "%animationFadeIn" keyframes
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% { 
		opacity: 1;
	}
}
// "%animationFadeOut" keyframes
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% { 
		opacity: 0;
	}
}