extends partial/_tmp-main.pug

//- About

block config
block config
	-
		var main = {
			title:   "About the Artist – Grazyna Adamska Jarecka",
			desc:    "Profile of visual artist and painter Grazyna Adamska Jarecka",
			id:      about.id,
			link:    about.link,
			header:  "Artist Profile",
			hero1:   "background_intro_main-about.png",
			hero2:   "background_outro_abstract.png",
			border1: "background_border_intro_03.png"
		}

block mainContent
	section.ap-c-scn.ap-c-scn--about
		article.ap-c-mdl-about
			figure.ap-c-mdl-about__photo
				img(
					src="https://res.cloudinary.com/adamska/image/upload/f_auto,q_auto:good/v1/ui/grazyna-adamska-jarecka_portrait-alt02.png" 
					alt="Photo of artist Grazyna Adamska Jarecka"
				)
			div.ap-c-mdl-about__container
				header.ap-c-mdl-about__header
					p Grazyna moved to Canada from Poland in 1996 and chose to end her career in Animal Science to pursue life as an artist and painter. Since then, she earned her Masters of Fine Arts in the United States and has had her paintings and installations displayed across galleries North America and Europe.
				div.ap-c-mdl-about__body
					p Grazyna Adamska is a Polish-born Canadian painter who has been working in Guelph, Ontario for more than twenty years. Soon after moving to Canada, rather than continue her career as an animal scientist, she chose to pursue art and painting. Grazyna Adamska obtained her BA in Studio Art from University of Guelph in 2002, and an MFA from Indiana University of Pennsylvania in 2006.
					p Her academic background in biology has had a great impact on her interests in the domain of painting. Throughout her career, her work has oscillated between an abstract interpretations of microbes, coral reefs, fires, landscapes and human bodies; and an expressive, realistic depiction of human self-absorption. Her recent works are formal considerations of relationships between colour, form, line and texture. She focuses on finding her personal language in agreement with the formal and the gestural.
					p Three of her recent selected solo shows: “Echoes of Growth”, “Tangled Beauty” and “Forest Edges” displayed in public galleries in Kitchener, Ontario, were inspired both by reverence for natural local surroundings, and by ecological concerns for natural resources. In her 2018 shows, Finding Nest, The otherness, and Self-identity her figurative paintings explored her immigrant identity caught in-between two spaces.
					+button(
						"See Work",
						iconArrowRight,
						work.link,
						work.info,
						"_self"
					)

block secondaryContent
	include partial/_scn-press.pug
	include partial/_scn-instagram.pug

block sectionGrazyna
	//- Null – exclude section