extends partial/_tmp-main.pug

//- Work

block config
	-
		var main = {
			title:   "Work – Grazyna Adamska Jarecka",
			desc:    "Collection of selected work by visual artist and painter Grazyna Adamska Jarecka",
			id:      work.id,
			link:    work.link,
			header:  "Selected Work",
			hero1:   "background_main_intro-work.png",
			hero2:   "background_outro_figurative.png",
			border1: "background_border_outro_02.png"
		}

block navSubmenu
	+navWork

block introVideo
	div.ap-c-scn__hero
		video.ap-c-scn__hero-video(
			width="960" height="540" loop muted playsinline 
			controlsList="nodownload nofullscreen noremoteplayback" 
			poster="https://res.cloudinary.com/adamska/image/upload/c_scale,f_auto,q_auto:best,w_1280/v1551768532/ui/hero-video-poster.png"
		)
		//- source(
		//- 	src="https://res.cloudinary.com/adamska/video/upload/v1551767835/ui/hero-work.webm" 
		//- 	type="video/webm"
		//- )

block mainContent
	//- Featured Series
	include partial/_scn-featured.pug

	//- Figurative Series
	section.ap-c-scn.ap-c-scn--collection#figurative
		+headerTitle("Figurative Series")
		div.ap-c-mdl-collection
			ul.ap-c-mdl-collection__list
				li.ap-c-mdl-collection__item.ap-l-crd--spotlight
					+seriesFigurativeSelectedVol3
				li.ap-c-mdl-collection__item
					+seriesFigurativeSelectedVol2
				li.ap-c-mdl-collection__item
					+seriesFigurativeCoping
				li.ap-c-mdl-collection__item
					+seriesFigurativeBody
				li.ap-c-mdl-collection__item
					+seriesFigurativeDisengagement
				li.ap-c-mdl-collection__item
					+seriesFigurativeExamination
				li.ap-c-mdl-collection__item
					+seriesFigurativeSelectedVol1

	//- Abstract Series
	section.ap-c-scn.ap-c-scn--collection#abstract
		+headerTitle("Abstract Series")
		div.ap-c-mdl-collection
			ul.ap-c-mdl-collection__list
				li.ap-c-mdl-collection__item.ap-l-crd--spotlight
					+seriesAbstractAttachments
				li.ap-c-mdl-collection__item
					+seriesAbstractFigural
				li.ap-c-mdl-collection__item
					+seriesAbstractLandscapes
				li.ap-c-mdl-collection__item
					+seriesAbstractFlames
				li.ap-c-mdl-collection__item
					+seriesAbstractShapes
				li.ap-c-mdl-collection__item
					+seriesAbstractSelectedVol1
				li.ap-c-mdl-collection__item
					+seriesAbstractGrace

	//- Portraits Series
	section.ap-c-scn.ap-c-scn--collection#portrait
		+headerTitle("Portraits")
		div.ap-c-mdl-collection
			ul.ap-c-mdl-collection__list
				li.ap-c-mdl-collection__item.ap-l-crd--spotlight
					+seriesPortraitSelectedVol3
				li.ap-c-mdl-collection__item
					+seriesPortraitSkype
				li.ap-c-mdl-collection__item
					+seriesPortraitSelectedVol2
				//- li.ap-c-mdl-collection__item
				//- 	+seriesPortraitGuelph
				li.ap-c-mdl-collection__item
					+seriesPortraitConte
				li.ap-c-mdl-collection__item
					+seriesPortraitSelectedVol1
				li.ap-c-mdl-collection__item
					+seriesPortraitHonorary
				//- li.ap-c-mdl-collection__item
				//- 	+seriesPortraitDogs
				//- li.ap-c-mdl-collection__item
				//- 	+seriesPortraitCats

	//- Assorted Series
	section.ap-c-scn.ap-c-scn--collection#assorted
		+headerTitle("Assorted Works")
		div.ap-c-mdl-collection
			ul.ap-c-mdl-collection__list
				//- li.ap-c-mdl-collection__item.ap-l-crd--spotlight
				//- 	+seriesAssortedStill
				li.ap-c-mdl-collection__item.ap-l-crd--spotlight
					+seriesAssortedLandscapesVol2
				li.ap-c-mdl-collection__item
					+seriesAssortedAnimals
				li.ap-c-mdl-collection__item
					+seriesAssortedLandscapesVol1
				//- li.ap-c-mdl-collection__item
				//- 	+seriesAssortedMisc

	//- Browse by topic slider