extends partial/_tmp-series.pug

//- Shapes & Textures

block config
	-
		var series = {
			id:      abstractShapes.id,
			name:    abstractShapes.name,
			info:    abstractShapes.info,
			link:    abstractShapes.link,
			date:    abstractShapes.date,
			hero1:   abstractShapes.hero,
			hero2:   workAbstract.hero,
			colname: workAbstract.name,
			collink: workAbstract.link,
			summary: "The shapes or forms juxtaposed with innovative textures are discovered during the process of painting or pulled from everyday sources. I seek for balance and build directional thrust. Examining of all areas and involving the units in different amount of attention they may call for allows the image to be perceived less statically. Through a chosen configuration of the parts, I imaginatively stimulate allusion of movement."
		}

block seriesMediums
	+seriesMediums(
		"acrylic"
	)

block seriesMaterials
	+seriesMaterials(
		"canvas"
	)

block navSubmenu
	+navAbstractShapes

block galleryContent
	+abstractShapesS01
	+abstractShapesS02
	+abstractShapesS03
	+abstractShapesS04
	+abstractShapesS05
	+abstractShapesS06

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(abstractSelectedVol1)

block relatedSeries01
	+seriesCard(abstractGrace)

block relatedSeries02
	+seriesCard(abstractAttachments)

block relatedSeries03
	+seriesCard(abstractFlames)

block relatedSeries04
	+seriesCard(abstractLandscapes)