extends partial/_tmp-series.pug

//- Conté Drawings

block config
	-
		var series = {
			id:      portraitConte.id,
			name:    portraitConte.name,
			info:    portraitConte.info,
			link:    portraitConte.link,
			date:    portraitConte.date,
			hero1:   portraitConte.hero,
			hero2:   workPortrait.hero,
			colname: workPortrait.name,
			collink: workPortrait.link
		}

block seriesSummary

block seriesMediums
	+seriesMediums(
		tagConte
	)

block seriesMaterials
	+seriesMaterials(
		tagCanvas
	)

block navSubmenu
	+navPortraitConte

block galleryContent
	+portraitConteS01
	+portraitConteS02
	+portraitConteG01
	+portraitConteS03
	+portraitConteS04
	+portraitConteS05

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(abstractAttachments)

block relatedSeries01
	+seriesCard(PortraitGuelph)

block relatedSeries02
	+seriesCard(PortraitGuelph)

block relatedSeries03
	+seriesCard(PortraitGuelph)

block relatedSeries04
	+seriesCard(PortraitGuelph)