extends partial/_tmp-series.pug

//- Grace / No Grace

block config
	-
		var series = {
			id:      abstractGrace.id,
			name:    abstractGrace.name,
			info:    abstractGrace.info,
			link:    abstractGrace.link,
			date:    abstractGrace.date,
			hero1:   abstractGrace.hero,
			hero2:   workAbstract.hero,
			colname: workAbstract.name,
			collink: workAbstract.link,
			summary: "I'm interested in the qualities of the material I use. These paintings are executed on sheets of plastic. Things are not left to chance, nor held to process. Constant is the an impulse or an idea that stays with a painting and drives it, from its beginning to the end. This notion guides my attempt toward a minimal expression of my own simple and meditative art. The work indicates three paths; one of transparency, one of color (or rather, no color), and one of pattern. These three paths often converge, and often seem inseparable."
		}

block seriesMediums
	+seriesMediums(
		"acrylic"
	)

block seriesMaterials
	+seriesMaterials(
		"plastic"
	)

block navSubmenu
	+navAbstractGrace

block galleryContent
	+abstractGraceS01
	+abstractGraceS02
	+abstractGraceS03
	+abstractGraceS04

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(portraitSelectedVol3)

block relatedSeries01
	+seriesCard(abstractShapes)

block relatedSeries02
	+seriesCard(abstractFlames)

block relatedSeries03
	+seriesCard(abstractSelectedVol1)

block relatedSeries04
	+seriesCard(abstractAttachments)