extends partial/_tmp-series.pug

//- Honorary & Collegiate Portraits

block config
	-
		var series = {
			id:      portraitHonorary.id,
			name:    portraitHonorary.name,
			info:    portraitHonorary.info,
			link:    portraitHonorary.link,
			date:    portraitHonorary.date,
			hero1:   portraitHonorary.hero,
			hero2:   workPortrait.hero,
			colname: workPortrait.name,
			collink: workPortrait.link
		}

block seriesSummary

block seriesMediums
	+seriesMediums(
		tagOil,
		tagAcrylic
	)

block seriesMaterials
	+seriesMaterials(
		tagCanvas
	)

block navSubmenu
	+navPortraitHonorary

block galleryContent
	+portraitHonoraryS01
	+portraitHonoraryS02
	+portraitHonoraryS03
	+portraitHonoraryS04
	+portraitHonoraryS05

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(portraitConte)

block relatedSeries01
	+seriesCard(portraitSelectedVol1)

block relatedSeries02
	+seriesCard(portraitSelectedVol2)

block relatedSeries03
	+seriesCard(portraitSelectedVol3)

block relatedSeries04
	+seriesCard(portraitSkype)