extends partial/_tmp-series.pug

//- Honorary & Collegiate Portraits

block config
	-
		var series = {
			id:      portraitHonorary.id,
			name:    portraitHonorary.name,
			info:    portraitHonorary.info,
			link:    portraitHonorary.link,
			date:    portraitHonorary.date,
			hero1:   portraitHonorary.hero,
			hero2:   workPortrait.hero,
			colname: workPortrait.name,
			collink: workPortrait.link,
			summary: ""
		}

block seriesMediums
	+seriesMediums(
		"oil",
		"acrylic"
	)

block seriesMaterials
	+seriesMaterials(
		"canvas"
	)

block navSubmenu
	+navPortraitHonorary

block galleryContent
	+portraitHonoraryS01
	+portraitHonoraryS02
	+portraitHonoraryS03
	+portraitHonoraryS04
	+portraitHonoraryS05

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(abstractAttachments)

block relatedSeries01
	+seriesCard(portraitGuelph)

block relatedSeries02
	+seriesCard(portraitGuelph)

block relatedSeries03
	+seriesCard(portraitGuelph)

block relatedSeries04
	+seriesCard(portraitGuelph)