extends partial/_tmp-series.pug

//- Abstracted Landscapes

block config
	-
		var series = {
			id:      abstractLandscapes.id,
			name:    abstractLandscapes.name,
			info:    abstractLandscapes.info,
			link:    abstractLandscapes.link,
			date:    abstractLandscapes.date,
			hero1:   abstractLandscapes.hero,
			hero2:   workAbstract.hero,
			colname: workAbstract.name,
			collink: workAbstract.link
		}

block seriesSummary
	p A series of abstracted images exploring scenery of the forest near which I live in Canada.

block seriesMediums
	+seriesMediums(
		tagAcrylic
	)

block seriesMaterials
	+seriesMaterials(
		tagWood,
		tagCanvas
	)

block navSubmenu
	+navAbstractLandscapes

//- block galleryContent
//- 	+artworkCard('Pulp Forest', 'abstract_landscapes_s01', 'Abstract painting', tag2017, tagAcrylic, tagCanvas, '42', '48', '16-10', abstractLandscapes)
//- 	+artworkCard('Orange et Vert', 'abstract_landscapes_s02', 'Abstract painting', tag2016, tagAcrylic, tagCanvas, '30', '48', '1-1', abstractLandscapes)

	

block galleryContent
	+abstractLandscapesS01
	+abstractLandscapesS02
	+abstractLandscapesS03
	+abstractLandscapesS04
	+abstractLandscapesS05
	+abstractLandscapesS06
	+abstractLandscapesS07
	+abstractLandscapesS08
	+abstractLandscapesS09
	+abstractLandscapesS10
	+abstractLandscapesS11
	+abstractLandscapesS12
	+abstractLandscapesS13
	+abstractLandscapesS14
	+abstractLandscapesS15
	//- S16 not ready
	//- +abstractLandscapesS16
	+abstractLandscapesS17
	+abstractLandscapesS18
	+abstractLandscapesS19
	+abstractLandscapesS20
	+abstractLandscapesS21

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(abstractFlames)

block relatedSeries01
	+seriesCard(abstractSelectedVol1)

block relatedSeries02
	+seriesCard(abstractShapes)

block relatedSeries03
	+seriesCard(abstractGrace)

block relatedSeries04
	+seriesCard(abstractFlames)