extends partial/_tmp-series.pug

//- Figural Abstract Works

block config
	-
		var series = {
			id:      abstractFigural.id,
			name:    abstractFigural.name,
			info:    abstractFigural.info,
			link:    abstractFigural.link,
			date:    abstractFigural.date,
			hero1:   abstractFigural.hero,
			hero2:   workAbstract.hero,
			colname: workAbstract.name,
			collink: workAbstract.link
		}

block seriesSummary
	p A series of abstract works which emerging forms of the human figure.

block seriesMediums
	+seriesMediums(
		tagAcrylic
	)

block seriesMaterials
	+seriesMaterials(
		tagCanvas
	)

block navSubmenu
	+navAbstractFigural

block galleryContent
	+abstractFiguralS01
	+abstractFiguralS02
	+abstractFiguralS03
	+abstractFiguralS04
	+abstractFiguralS05
	+abstractFiguralS06
	+abstractFiguralS07

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(abstractLandscapes)

block relatedSeries01
	+seriesCard(abstractFlames)

block relatedSeries02
	+seriesCard(abstractSelectedVol1)

block relatedSeries03
	+seriesCard(abstractAttachments)

block relatedSeries04
	+seriesCard(abstractLandscapes)