extends partial/_tmp-series.pug

//- Selected Abstract Works Volume 1

block config
	-
		var series = {
			id:      abstractSelectedVol1.id,
			name:    abstractSelectedVol1.name,
			info:    abstractSelectedVol1.info,
			link:    abstractSelectedVol1.link,
			date:    abstractSelectedVol1.date,
			hero1:   abstractSelectedVol1.hero,
			hero2:   workAbstract.hero,
			colname: workAbstract.name,
			collink: workAbstract.link
		}

block seriesSummary

block seriesMediums
	+seriesMediums(
		tagAcrylic
	)

block seriesMaterials
	+seriesMaterials(
		tagCanvas
	)

block navSubmenu
	+navAbstractSelectedVol1

block galleryContent
	+abstractSelectedVol1S01
	+abstractSelectedVol1S02
	+abstractSelectedVol1S03
	+abstractSelectedVol1S04
	+abstractSelectedVol1S05
	+abstractSelectedVol1S06
	+abstractSelectedVol1S07
	+abstractSelectedVol1S08
	+abstractSelectedVol1S09
	+abstractSelectedVol1S10
	+abstractSelectedVol1S11
	+abstractSelectedVol1S12
	+abstractSelectedVol1S13

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(abstractGrace)

block relatedSeries01
	+seriesCard(abstractLandscapes)

block relatedSeries02
	+seriesCard(abstractFigural)

block relatedSeries03
	+seriesCard(abstractAttachments)

block relatedSeries04
	+seriesCard(abstractFlames)