extends partial/_tmp-series.pug

//- Conté Drawings

block config
	-
		var series = {
			id:      portraitConte.id,
			name:    portraitConte.name,
			info:    portraitConte.info,
			link:    portraitConte.link,
			date:    portraitConte.date,
			hero1:   portraitConte.hero,
			hero2:   workPortrait.hero,
			colname: workPortrait.name,
			collink: workPortrait.link
		}

block seriesSummary

block seriesMediums
	+seriesMediums(
		tagConte
	)

block seriesMaterials
	+seriesMaterials(
		tagCanvas
	)

block navSubmenu
	+navPortraitConte

block galleryContent
	+portraitFamilyS01
	+portraitFamilyS02
	+portraitFamilyG01
	+portraitFamilyS03
	+portraitFamilyS04
	+portraitFamilyS05

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(portraitSelectedVol1)

block relatedSeries01
	+seriesCard(portraitSelectedVol2)

block relatedSeries02
	+seriesCard(portraitSelectedVol3)

block relatedSeries03
	+seriesCard(portraitHonorary)

block relatedSeries04
	+seriesCard(portraitSkype)