extends partial/_tmp-series.pug

//- Miscellaneous Works

block config
	-
		var series = {
			id:      assortedMisc.id,
			name:    assortedMisc.name,
			info:    assortedMisc.info,
			link:    assortedMisc.link,
			date:    assortedMisc.date,
			hero1:   assortedMisc.hero,
			hero2:   workAssorted.hero,
			colname: workAssorted.name,
			collink: workAssorted.link,
			summary: ""
		}

block seriesMediums
	+seriesMediums(
		"acrylic"
	)

block seriesMaterials
	+seriesMaterials(
		"canvas"
	)

block navSubmenu
	+navAssortedMisc

block galleryContent
	//- Unpublished
	//- +assortedMiscS01
	//- +assortedMiscS02
	//- +assortedMiscS03
	//- +assortedMiscS04
	//- +assortedMiscS05

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(figutativeSelectedVol3)

block relatedSeries01
	+seriesCard(assortedAnimals)

block relatedSeries02
	+seriesCard(assortedStill)

block relatedSeries03
	+seriesCard(assortedLandscapesVol1)

block relatedSeries04
	+seriesCard(assortedLandscapesVol2)