extends partial/_tmp-series.pug

//- Attachments

block config
	-
		var series = {
			id:      abstractAttachments.id,
			name:    abstractAttachments.name,
			info:    abstractAttachments.info,
			link:    abstractAttachments.link,
			date:    abstractAttachments.date,
			hero1:   abstractAttachments.hero,
			hero2:   workAbstract.hero,
			colname: workAbstract.name,
			collink: workAbstract.link,
			summary: "Pure abstraction is non-objective. If I paint a paper clip and introduce it to other formal elements that are non-objective, such as colour, line, etc., and then I follow how to relate color, shapes, line and the space occupied by the painting , treating it as it as though it was a pure abstract."
		}

block seriesMediums
	+seriesMediums(
		"acrylic"
	)

block seriesMaterials
	+seriesMaterials(
		"canvas",
		"plastic"
	)

block navSubmenu
	+navAbstractAttachments

block galleryContent
	+abstractAttachmentsS01
	+abstractAttachmentsS02
	+abstractAttachmentsS03
	+abstractAttachmentsS04
	+abstractAttachmentsS05
	+abstractAttachmentsS06
	+abstractAttachmentsS07
	+abstractAttachmentsS08
	+abstractAttachmentsS09
	+abstractAttachmentsS10
	+abstractAttachmentsS11
	+abstractAttachmentsS12
	+abstractAttachmentsS13
	+abstractAttachmentsS14
	+abstractAttachmentsS15
	+abstractAttachmentsS16
	//- S17 not ready

//- block relatedTags
//- 	+tagSliderPopular

block nextSeries
	+seriesAbstractGrace

block relatedSeries01
	+seriesAbstractShapes

block relatedSeries02
	+seriesAbstractFigural

block relatedSeries03
	+seriesAbstractSelectedVol1

block relatedSeries04
	+seriesAbstractFlames