extends partial/_tmp-series.pug

//- Flames, Coral Reefs

block config
	-
		var series = {
			id:      abstractFlames.id,
			name:    abstractFlames.name,
			info:    abstractFlames.info,
			link:    abstractFlames.link,
			date:    abstractFlames.date,
			hero1:   abstractFlames.hero,
			hero2:   workAbstract.hero,
			colname: workAbstract.name,
			collink: workAbstract.link
		}

block seriesSummary
	p These paintings are inspired by images of bleached coral reefs. The mortality of coral reefs due to bleaching events caused by rising sea temperatures has proved to be an unlikely subject for abstract painting. The stark bone-whiteness of dying corals contrasts with the healthy, bright-red formations, mingling together, mediating upon their battle for life.

block seriesMediums
	+seriesMediums(
		tagAcrylic
	)

block seriesMaterials
	+seriesMaterials(
		tagCanvas
	)

block navSubmenu
	+navAbstractFlames

block galleryContent
	+abstractFlamesS01
	+abstractFlamesS02
	+abstractFlamesS03
	+abstractFlamesS04
	+abstractFlamesS05
	+abstractFlamesS06
	+abstractFlamesS07
	+abstractFlamesS08
	+abstractFlamesS09
	+abstractFlamesS10
	+abstractFlamesS11
	+abstractFlamesS12
	+abstractFlamesS13
	+abstractFlamesS14

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(abstractShapes)

block relatedSeries01
	+seriesCard(abstractShapes)

block relatedSeries02
	+seriesCard(abstractFigural)

block relatedSeries03
	+seriesCard(abstractAttachments)

block relatedSeries04
	+seriesCard(abstractGrace)