extends partial/_tmp-series.pug

//- Selected Figurative Works Volume 2

block config
	-
		var series = {
			id:      figurativeSelectedVol2.id,
			name:    figurativeSelectedVol2.name,
			info:    figurativeSelectedVol2.info,
			link:    figurativeSelectedVol2.link,
			date:    figurativeSelectedVol2.date,
			hero1:   figurativeSelectedVol2.hero,
			hero2:   workFigurative.hero,
			colname: workFigurative.name,
			collink: workFigurative.link
		}

block seriesSummary

block seriesMediums
	+seriesMediums(
		tagAcrylic
	)

block seriesMaterials
	+seriesMaterials(
		tagCanvas
	)

block navSubmenu
	+navFigurativeSelectedVol2

block galleryContent
	+figurativeSelectedVol2G01
	+figurativeSelectedVol2G01b
	+figurativeSelectedVol2S01
	+figurativeSelectedVol2S02
	+figurativeSelectedVol2S03
	+figurativeSelectedVol2S04
	+figurativeSelectedVol2S05
	+figurativeSelectedVol2S06
	+figurativeSelectedVol2S06b
	+figurativeSelectedVol2S07

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(abstractAttachments)

block relatedSeries01
	+seriesCard(figurativeSelectedVol3)

block relatedSeries02
	+seriesCard(figurativeCoping)

block relatedSeries03
	+seriesCard(figurativeBody)

block relatedSeries04
	+seriesCard(figurativeSelectedVol1)