extends partial/_tmp-series.pug

//- Selected Figurative Works Volume 3

block config
	-
		var series = {
			id:      figurativeSelectedVol3.id,
			name:    figurativeSelectedVol3.name,
			info:    figurativeSelectedVol3.info,
			link:    figurativeSelectedVol3.link,
			date:    figurativeSelectedVol3.date,
			hero1:   figurativeSelectedVol3.hero,
			hero2:   workFigurative.hero,
			colname: workFigurative.name,
			collink: workFigurative.link
		}

block seriesSummary

block seriesMediums
	+seriesMediums(
		tagAcrylic
	)

block seriesMaterials
	+seriesMaterials(
		tagCanvas
	)

block navSubmenu
	+navFigurativeSelectedVol3

block galleryContent
	+figurativeSelectedVol3S01
	+figurativeSelectedVol3S02
	+figurativeSelectedVol3S03
	+figurativeSelectedVol3S03b
	+figurativeSelectedVol3S04
	+figurativeSelectedVol3S05
	+figurativeSelectedVol3S06
	+figurativeSelectedVol3S07
	+figurativeSelectedVol3S08
	+figurativeSelectedVol3S09
	+figurativeSelectedVol3S10

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(abstractAttachments)

block relatedSeries01
	+seriesCard(figurativeSelectedVol2)

block relatedSeries02
	+seriesCard(figurativeSelectedVol1)

block relatedSeries03
	+seriesCard(figurativeExamination)

block relatedSeries04
	+seriesCard(figurativeCoping)