extends partial/_tmp-series.pug

//- Skype Scéance

block config
	-
		var series = {
			id:      portraitSkype.id,
			name:    portraitSkype.name,
			info:    portraitSkype.info,
			link:    portraitSkype.link,
			date:    portraitSkype.date,
			hero1:   portraitSkype.hero,
			hero2:   workPortrait.hero,
			colname: workPortrait.name,
			collink: workPortrait.link
		}

block seriesSummary

block seriesMediums
	+seriesMediums(
		tagAcrylic,
		tagPastel,
		tagPaper
	)

block seriesMaterials
	+seriesMaterials(
		tagPaper,
		tagPlastic
	)

block navSubmenu
	+navPortraitSkype

block galleryContent
	+portraitSkypeS01
	+portraitSkypeS01b
	+portraitSkypeS01c
	+portraitSkypeS01d
	+portraitSkypeS01e
	+portraitSkypeS01f
	+portraitSkypeS02
	+portraitSkypeS02b
	+portraitSkypeS03
	+portraitSkypeS03b
	+portraitSkypeS03c
	+portraitSkypeS04
	+portraitSkypeS05
	+portraitSkypeS05b
	+portraitSkypeS06

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(abstractAttachments)

block relatedSeries01
	+seriesCard(portraitSelectedVol3)

block relatedSeries02
	+seriesCard(portraitSelectedVol2)

block relatedSeries03
	+seriesCard(portraitSelectedVol1)

block relatedSeries04
	+seriesCard(portraitConte)