extends partial/_tmp-series.pug

//- Self Examination

block config
	-
		var series = {
			id:      figurativeExamination.id,
			name:    figurativeExamination.name,
			info:    figurativeExamination.info,
			link:    figurativeExamination.link,
			date:    figurativeExamination.date,
			hero1:   figurativeExamination.hero,
			hero2:   workFigurative.hero,
			colname: workFigurative.name,
			collink: workFigurative.link
		}

block seriesSummary

block seriesMediums
	+seriesMediums(
		tagAcrylic
	)

block seriesMaterials
	+seriesMaterials(
		tagPlastic,
		tagCanvas
	)

block navSubmenu
	+navFigurativeExamination

block galleryContent
	+figurativeExaminationS01
	+figurativeExaminationS02
	+figurativeExaminationS02b
	+figurativeExaminationS03
	+figurativeExaminationS04
	+figurativeExaminationS05
	+figurativeExaminationS06
	+figurativeExaminationG01
	+figurativeExaminationS07
	+figurativeExaminationS08
	+figurativeExaminationS09
	+figurativeExaminationS10
	+figurativeExaminationS11

//- block relatedTags
	+tagSliderPopular

block nextSeries
	+seriesCard(abstractAttachments)

block relatedSeries01
	+seriesCard(figurativeCoping)

block relatedSeries02
	+seriesCard(figurativeDisengagement)

block relatedSeries03
	+seriesCard(figurativeSelectedVol2)

block relatedSeries04
	+seriesCard(figurativeBody)