extends partial/_tmp-tag.pug

//- Tag — Abstract

block config
	-
		var tag = {
			id:    tagAbstract.id,
			name:  tagAbstract.name,
			link:  tagAbstract.link,
			hero1: "background_intro_tags.png",
			hero2: "background_outro_figurative02.png"
		}

block galleryContent
	+abstractGraceS01
	+abstractGraceS02
	+abstractGraceS03
	+abstractGraceS04

//- block relatedTags
	+tagSliderPopular

block relatedSeries01
	+seriesCard(abstractShapes)

block relatedSeries02
	+seriesCard(abstractFigural)

block relatedSeries03
	+seriesCard(abstractSelectedVol1)

block relatedSeries04
	+seriesCard(abstractFlames)