//- Featured series section
section.ap-c-scn.ap-c-scn--featured#featured
	+headerTitle("Featured Series")
	div.ap-c-mdl-collection
		ul.ap-c-mdl-collection__list
			li.ap-c-mdl-collection__item.ap-l-crd--spotlight
				+seriesCard(abstractAttachments)
			li.ap-c-mdl-collection__item
				+seriesCard(figurativeSelectedVol3)
			li.ap-c-mdl-collection__item
				+seriesCard(portraitSelectedVol2)
			li.ap-c-mdl-collection__item
				+seriesCard(abstractLandscapes)
			li.ap-c-mdl-collection__item
				+seriesCard(figurativeCoping)