//- Mini-bio section
section.ap-c-scn.ap-c-scn--grazyna
	div.ap-c-scn__banner(style="background-image: url(https://res.cloudinary.com/adamska/image/upload/f_auto,q_auto:best/v1/ui/background_border_outro_03.png), url(https://res.cloudinary.com/adamska/image/upload/f_auto,q_auto:good/v1/ui/background_outro_grazyna.png), url(https://res.cloudinary.com/adamska/image/upload/c_scale,e_blur:1024,f_auto,q_auto:good,w_256/v1/ui/background_outro_grazyna.png);")
	//- Mini-bio content module
	div.ap-c-mdl-grazyna
		article.ap-c-mdl-grazyna__container
			h3.ap-c-mdl-grazyna__title
				span About the Artist
			p.ap-c-mdl-grazyna__body Grazyna moved to Canada from Poland in 1996 and chose to end her career in Animal Science to pursue life as an artist and painter. Since then, she earned her Masters of Fine Arts in the United States and has had her paintings and installations displayed across galleries North America and Europe, including exhibitions in Toronto, Chicago, Florence, Berlin, and Warsaw. Her work addresses a broad scope of topics, ranging from depictions of #[a(href= figurativeCoping.link) depression in women] to #[a(href= abstractLandscapes.link) abstractions of forest scenery].
			+button(
				"Read Bio",
				iconArrowRight,
				about.link,
				about.info,
				"_self"
			)